<h1 style="color:black;"> <img width="40"src="https://raw.githubusercontent.com/CYBORG123456789/DEMO-party-official-site/master/assets/LOGO%20small.png">  DEMO party official website</h1>
<h1 style="color:black;">{{ title }}</h1>
<ul>
  <li><a href="https://cyborg123456789.github.io/DEMO-party-official-site/">Home</a></li>
  <li><a href="https://cyborg123456789.github.io/Ministers/">Ministers</a></li>
  <li><a href="https://cyborg123456789.github.io/Policies/">Policies</a></li>
  <li><a href="https://cyborg123456789.github.io/Educationplan/">Education plan</a></li>
</ul>
